<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Team Name: <%= @team_name %></h1>
  <p>Coach: <%= @coach %></p>
    <p>Point Guard: <%= @point %></p>
     <p>Shooting Guard: <%= @shoot %></p>
      <p>Small Forward: <%= @small %></p>
       <p>Power Forward: <%= @power %></p>
        <p>Center: <%= @center %></p>


 </body>
</html>


